[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Bhargav Maniar (bhargav00)
[access "refs/for/refs/*"]
	read = group user/Bhargav Maniar (bhargav00)
	push = group user/Bhargav Maniar (bhargav00)
	label-Code-Review = -2..+2 group user/Bhargav Maniar (bhargav00)
	label-Verified = -1..+1 group user/Bhargav Maniar (bhargav00)
	rebase = group user/Bhargav Maniar (bhargav00)
	removeReviewer = group user/Bhargav Maniar (bhargav00)
	submit = group user/Bhargav Maniar (bhargav00)
[access "refs/heads/*"]
	read = group user/Bhargav Maniar (bhargav00)
	create = group user/Bhargav Maniar (bhargav00)
	push = +force group user/Bhargav Maniar (bhargav00)
	pushMerge = group user/Bhargav Maniar (bhargav00)
[access "refs/tags/*"]
	push = +force group user/Bhargav Maniar (bhargav00)
	pushTag = group user/Bhargav Maniar (bhargav00)
	pushSignedTag = group user/Bhargav Maniar (bhargav00)
